.slide-wripper{
  @include flex-row(space-between, flex-start);
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  .content{
    padding: 20px;
  }
  .img-holder{
    padding: 20px;
    img{
      max-height: 200px;
      margin: 0 auto;
      display: block;
      @media all and (max-width: ($screen-md + 1px) )  {
        max-height: 200px;
      }
      @media all and (max-width: ($screen-sm + 1px) )  {
        max-height: 200px;
      }
    }
  }
  .price{
    font-family: $desc-fonth;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: $brand-success;
    @media all and (max-width: ($screen-md + 1px) )  {
      font-size: 36px;
      line-height: 44px;
    }
    @media all and (max-width: ($screen-sm + 1px) )  {
      font-size: 26px;
      line-height: 44px;
    }
  }

  .wrapper{
    width: 85%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    margin-top: 3wh;
  }
  i{
    font-size: 30px;
  }
}
.title{
  font-family: $title-fonth;
  font-size: 38px;
  line-height: 64px;
  color: $brand-success;
  text-align: center;
  min-height: 40px;
  @media all and (max-width: ($screen-md + 1px) )  {
    font-size: 30px;
    line-height: 32px;
    margin-top: 0px;
  }
  @media all and (max-width: ($screen-sm + 1px) )  {
    font-size: 21px;
    line-height: 24px;
    min-height: 20px;
  }
}
.desc{
  font-family: $desc-fonth;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: $brand-primary;
  margin-bottom: 30px;
  min-height: 40px;
  @media all and (max-width: ($screen-md + 1px) )  {
    font-size: 20px;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
  } 
  @media all and (max-width: ($screen-sm + 1px) )  {
    font-size: 16px;
    line-height: 21px;
    min-height: 20px;
  }
}